{{#ui-pane icon='ui-16px-2_grid-square' type='logo' size='48' viewBox='48' fill='#E74D89' iconColor='#B2215A'
           headerSize='large'
           title=(fake "company.companyName")}}
  <section>
    <span>{{fake "lorem.paragraphs"}}</span>
  </section>
{{/ui-pane}}
