<section>
  {{#ui-popup (fake "company.companyName") 'left'}}
    {{ui-button 'Arrow Left' color='blue'}}
  {{/ui-popup}}
  <div class="code inSection">
    <span>\{{#ui-popup</span> <u>'TOOLTIP'</u> <i>'left'</i><span>}}</span>
    &nbsp;&nbsp;<u>......</u>
    <span>\{{/ui-popup}}</span>
  </div>
</section>
<section>
  {{#ui-popup (fake "company.companyName") 'top'}}
    {{ui-button 'Arrow Top' color='blue'}}
  {{/ui-popup}}
  <div class="code inSection">
    <span>\{{#ui-popup</span> <u>'TOOLTIP'</u> <i>'top'</i><span>}}</span>
    &nbsp;&nbsp;<u>......</u>
    <span>\{{/ui-popup}}</span>
  </div>
</section>
<section>
  {{#ui-popup (fake "company.companyName") 'right'}}
    {{ui-button 'Arrow Right' color='blue'}}
  {{/ui-popup}}
  <div class="code inSection">
    <span>\{{#ui-popup</span> <u>'TOOLTIP'</u> <i>'right'</i><span>}}</span>
    &nbsp;&nbsp;<u>......</u>
    <span>\{{/ui-popup}}</span>
  </div>
</section>
<section>
  {{#ui-popup (fake "company.companyName") 'bottom'}}
    {{ui-button 'Arrow Bottom' color='blue'}}
  {{/ui-popup}}
  <div class="code inSection">
    <span>\{{#ui-popup</span> <u>'TOOLTIP'</u> <i>'bottom'</i><span>}}</span>
    &nbsp;&nbsp;<u>......</u>
    <span>\{{/ui-popup}}</span>
  </div>
</section>