<section class="preview-container" local-class="modal">
  {{ui-modal-page/index
    click1=(action "click1")
    click2=(action "click2")
    click3=(action "click3")
    click4=(action "click4")
  }}
</section>
