<section class="preview-container" local-class="progressive">
  <div class="preview-introduction">
    <h2>Progress</h2>
    <p>A progress bar shows the progression of a task</p>
    <span>Default Setting: size: <i>'medium'</i>, color: <i>'blue'</i>,</span>
  </div>
  {{#ui-pane class='ui-pane-preview'}}
    {{ui-progress-page/index}}
  {{/ui-pane}}
</section>