<section class="preview-container" local-class="radio">
  {{#ui-pane class='ui-pane-preview'}}
    {{#ui-sidebar width='120px' position='left'}}
      {{ui-item 'Basic' divider=true route='ui-radio.index'}}
      {{ui-item 'Switch' divider=true route='ui-radio.switch'}}
    {{/ui-sidebar}}
    {{outlet}}
  {{/ui-pane}}
</section>
