{{#ui-grid}}
  <div class='column four'>
    {{#ui-pane title='Circle Loading'}}
      {{ui-icon 'circle-loading' 40 40}}
    {{/ui-pane}}
  </div>
  <div class='column four'>
    {{#ui-pane title='Dot Loading'}}
      {{ui-icon 'dot-loading' 36 36}}
    {{/ui-pane}}
  </div>
{{/ui-grid}}

