{{#ui-login email=true
            width='410px'
            submit='Send Reset Instructions'
            submitColor='blue'
            addonLabel='Go back to'
            addonLinke='Login page'
            footer=forgot}}
  <h3>Reset Your Password</h3>
  <span>Enter your email and we'll send you instructions on how to reset your password.</span>
{{/ui-login}}