{{#ui-login password=true
            confirm=true
            width='410px'
            submit='Submit'
            submitColor='blue'
            addonLabel='Know your password? '
            addonLinke='Try Logging In'}}
  <h3>Reset your password</h3>
  <span>Choose a new password. Make sure it's strong!</span>
{{/ui-login}}
