{{#ui-login email=true
            name=true
            password=true
            width='410px'
            profile=(fake "image.avatar")
            submit='Create Account'
            submitColor='blue'
            addonLinke='Have an account?'
            privacy=true}}
  <h3>Start designing for free!</h3>
  <span>The best design UI Kit for designing new Interfaces and Dashboards</span>
{{/ui-login}}